@import url(../../stylesheets//navbar.css);
.link{
    color: var(--light-text-color);
    text-decoration: underline;
}
.login-signup-container{
    text-align: center;
    padding: 2rem;
    background-color:var(--light-bg-color) ;
    width: 30%;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 4px solid var(--light-text-color);
}
.login-signup-container h3{
    color: var(--light-text-color);

}

.login-test-login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 42rem;
    left: 52rem;
}
.input-group{
    text-align: left;
    margin-bottom: 1rem;
    color: var(--light-text-color);
}

.input-group input{
    width: 100%;
    margin: 5px auto;
    padding: 4px;
    border: solid 2px;
    border-radius: 5px;
    height: 4vh;
}

.password-label{
    position: relative;
}
.no-account{
    color: var(--light-text-color);
}
.eye-btn{
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}
@media (max-width:786px){
    .login-signup-container{
        width: 50%;
    }
    .login-test-login-btn{
        top: 44rem;
left: 16rem;
    }
}