.explore-btn{
    background-color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
    transition: all 0.6s ease-in-out;
}

.explore-btn:hover{
    box-shadow: var(--dark-text-color) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

@media (max-width:786px) {
    .explore-btn{
        margin-top: 4rem;
    }
}