.side-bar {
    position: fixed;
    min-width: 12rem;
}
.side-list {
    list-style: none;
}
.side-list a {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;
}

.side-list a:hover ,.active {
    font-weight: 600;
    background: var(--secondary-color);
    border-radius: 4px;
}

@media (max-width:768px){
  .side-items {
      display: none;
  }

  .side-bar{
    min-width: 2rem;
  }
}