@import url(./utility.css);

.btn-theme{
    border: none;
    background: transparent;
    cursor: pointer;
}
.btn-theme:hover{
    animation: swing 0.5s ease-in-out;
}
.nav-btn-links{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    cursor: pointer;
    margin-left: 72rem;
}
.login-btn{
    border-radius: 4px;
    border: solid 1.5px var(--dark-bg-color);
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: var(--secondary-color);
}
.login-btn:hover{
    color: var(--dark-bg-color);
    background-color: var(--light-bg-color);
}
@keyframes swing {
    0%{
        transform: rotate(0deg);
    }   
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@media (max-width: 768px){
    .nav-btn-links {
        margin-left: 0;
    }
    .heading-img{
        width: 18rem;
    }
}