@import url(./utility.css);

.btn-theme{
    border: none;
    background: transparent;
    cursor: pointer;
}
.btn-theme:hover{
    animation: swing 0.5s ease-in-out;
}
@keyframes swing {
    0%{
        transform: rotate(0deg);
    }   
    50%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
