@import url(./index.css);
@import url(./stylesheets/utility.css);
:root{
  --light-bg-color: #FFC8C8;
  --light-text-color: #3E4149;
  --secondary-color: #FF9999;
  --dark-bg-color: #3E4149;
  --dark-text-color: #FFC8C8;
}