.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    top: 0;
    left: 0;
    right: 0;
    transform: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal {
    background: var(--dark-bg-color);
    margin-inline: auto;
}

input::placeholder {
    font-size: 1.5rem;
}

input {
    font-size: 1rem;
}

input.ply-modal-input {
    width: 93%;
    font-size: 1.2rem;
    padding: 1rem;
}

.ply-new-items {
    gap: 18rem;
    background-color: var(--light-bg-color);
    color: var(--dark-bg-color);
    width: 100%;
}

.playlist-title {
    left: 10px;
    right: 0;
    position: absolute;
}

.play-list {
    padding-left: 0;
    list-style: none;
    font-size: 1.5rem;
}

.play-list li {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;
}

.play-list li:hover {
    font-weight: 600;
    background: var(--dark-bg-color);
    border-radius: 4px;
}